@keyframes blur {
    0% {
        filter: saturate(0) blur(5px);
    }

    100% {
        filter: none;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}
