:root {
    /* * White Colors */
    --white: #ffffff;
    --black: #000000;

    /* * Dark Colors */
    --black_knight: #020a0f;
    --off_black: #303030;
    

    /* * Gray Colors */
    --dark_mineral: #505663;
    --calligraphy: #5a626c;
    --sleet: #888c95;
    --tangled_web: #b3b3b3;
    --  : #f6f6f8;
    --dr_white: #fafafa;
    --coronation: #ececec;


    /* * Blue Colors */
    --veiling_waterfalls: #d3e4fd;
    --polar_glow: #5696f7;
    --maritime_outpost: #1b477d;

    /* * Grid System */
    --columns: 12;
    --gutter: 24px;
}

* {
    font-family: "Plus Jakarta Sans", "Inter", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::selection {
    color: var(--veiling_waterfalls);
    background: var(--polar_glow);
}

body {
    background-color: var(--white);
    color: var(--black_knight);
    line-height: 1.6;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 100;
    font-size: 62px;
    line-height: 1.2;
    color: white;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.2;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
}

p {
    font-weight: 500;
    color: var(--calligraphy);
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 1px;
}